<%= form_for [availability, pickup] do |form| %>
  <%= render "error_messages", target: pickup %>

  <div>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %>
  </div>

  <div>
    <%= label_tag(:address, "Address") %>
    <%= form.text_field :address %>
  </div>

  <div>
    <% town_name = Town.find(availability.town_id).name.capitalize %>
    <%= label_tag(:town_id, "Town: #{ town_name }") %>
    <%= form.hidden_field :town_id, value: availability.town_id %>
  </div>

  <div>
    <%= form.label :telephone %>
    <%= form.phone_field :telephone %>
  </div>

  <%= form.submit %>
<% end %>
