<div id="home-container">
  <div class="top-info-container form-background">
    <div class="confirming-panel">
      <br>
      <h5>You have scheduled a donation to <%= @availability.charity.name %></h5>
      <br>
      Date: <%= @availability.date.strftime("%B %d, %Y") %><br>
      Address: <%= @pickup.address %>, <%= @pickup.town.name %>
      <h4>
        <%= button_to "Confirm Donation", 
        pickup_pickup_confirmations_path(@pickup) %>
      </h4>
    </div>
  </div>
</div>
