<%= form_for [pickup_date.charity, pickup_date] do |form| %>
  <%= render "error_messages", target: pickup_date %>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <%= form.submit %>
<% end %>
