<div id="choice-container">

<%= link_to "Tomorrow", admin_charity_availabilities_path(@charity, tomorrow: Date.tomorrow) %>
<%= link_to "Upcoming", admin_charity_availabilities_path(@charity, week: "randomstringimnoteverusingthisbutitsimportantfortheview") %>

<div class="cards">

  <div class="card">
    <div class="card-header">
      <%= link_to "Review Your Calendar", admin_charity_availabilities_path(@charity) %>
    </div>
    <div class="card-copy">
      <%= image_tag src="http://vector-magz.com/wp-content/uploads/2013/09/calendar-icon-vector.png" %>
      <div class="card-stats">
        <ul>
          <li>98<span>Items</span></li>
          <li>298<span>Things</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <%= link_to "Create New Availability",
        new_admin_charity_availability_path(@charity) %>
    </div>

    <div class="card-copy">
      <%= image_tag src="http://vector-magz.com/wp-content/uploads/2013/09/calendar-icon-vector.png" %>
      <div class="card-stats">
        <ul>
          <li>98<span>Items</span></li>
          <li>298<span>Things</span></li>
          <li>923<span>Objects</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <%= link_to "Add new town", new_admin_charity_presence_path(@charity) %>
    </div>
    <div class="card-copy">
      <%= image_tag src="http://vector-magz.com/wp-content/uploads/2013/09/calendar-icon-vector.png" %>
      <div class="card-stats">
        <ul>
          <li>98<span>Items</span></li>
          <li>298<span>Things</span></li>
          <li>923<span>Objects</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%# <%= render @availabilities %>
<%# <%= render @towns %>

