<%= form_for [charity, availability],
  url: admin_charity_availabilities_path(charity) do |form| %>

  <%= form.hidden_field :charity_id, :value => charity.id %>

  <div>
  <%= form.collection_select :town_id,
    charity.towns, :id, :name, { :prompt => "Select Town" } %>
  </div>

  <div>
    <%= form.label "Choose a Date for this Route" %>
    <%= form.date_field :date %>
  </div>

  <%= form.submit %>
<% end %>
