<% if availabilities.empty? %>
  <h3>You have 0 routes scheduled tomorrow 
    (<%= Date.tomorrow.strftime("%B %d") %>)
  </h3>
  <%= link_to "Create a Route", new_admin_charity_availability_path(@charity) %>
<% else %>
  <h3><%= Date.tomorrow.strftime("%B %d") %></h3>
  <h4>
    <%= link_to "Total Confirmed Pickups: #{ tomorrow_confirmed }", 
      admin_charity_pickups_path(@charity, date: Date.tomorrow) %>
  </h4>

  <% if tomorrow_confirmed > 0 %>
    <div id="map_wrapper">
      <div id="map_canvas"></div>
    </div>
    <div class="table-holder">
      <table class="table-borders">
        <thead>
          <tr>
            <th>Town / City</th>
            <th># Pickups</th>
            <th># Confirmed</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <%= render availabilities %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
