<h3>This Week</h3>
<h4>Confirmed Pickups: <%= weeks_confirmed %></h4>
<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<div class="table-holder">
  <table class="table-borders">

    <thead>
      <tr>
        <th>Date</th>
        <th>Town / City</th>
        <th># Pickups</th>
        <th># Confirmed</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% availabilities.each_with_index do |(date, availabilities), i| %>
        <tr>
          <td><%= date.strftime("%a, %B %d") %></td>

          <% if availabilities.count > 1 %>
            <% availabilities.each do |availability| %>
              <div class="counter"><%= i %></div>
              <td>
                <div class="town_route">
                  <div class="town_name">
                    <%= availability.town.name %>, MA
                  </div>
                </div>
              </td>

              <td><%= availability.pickups.count %></td>

              <td><div class="conf"><%= availability.pickups.confirmed.count %></div></td>

              <% if availability.pickups.count == 0 %>
                <td>
                  <div class="delete-avail-button">
                    <%= link_to image_tag("https://cdn3.iconfinder.com/data/icons/musthave/256/Remove.png"),
                      admin_charity_availability_path(availability.charity, availability),
                      method: :delete %>
                </div>
                </td>
              <% else %>
                <td>Cannot Delete</td>
              <% end %>
            </tr>
            <% if availability != availabilities.last %>
              <td></td>
            <% end%>
          <% end %>
        <% else %>
          <div class="counter"><%= i %></div>
          <td>
            <div class="town_route">
              <div class="town_name">
                <%= availabilities.first.town.name %>, MA
              </div>
            </div>
          </td>

          <td><%= availabilities.first.pickups.count %></td>

          <td>
            <div class="conf">
              <%= availabilities.first.pickups.confirmed.count %>
            </div>
          </td>

          <% if availabilities.first.pickups.count == 0 %>
            <td>
              <div class="delete-avail-button">
                <%= link_to image_tag(
                  "https://cdn3.iconfinder.com/data/icons/musthave/256/Remove.png"
                ), admin_charity_availability_path(
                  availabilities.first.charity, availabilities.first
                ), method: :delete %>
            </div>
            </td>
          <% else %>
            <td>Cannot Delete</td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
