<%= form_for [charity, availability] do |form| %>
  <%= render "error_messages", target: availability %>

  <%= form.hidden_field :charity_id, :value => charity.id %>

  <%= form.collection_select :town_id, 
    charity.towns.all, :id, :name, {:prompt => "Select Town"} %>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <%= form.submit %>
<% end %>
