<h3>Schedule your free donation pickup</h3>

<%= form_for :filter, url: availabilities_path, 
  :method => 'get' do |form| %>
  <%= form.collection_select :town_id, 
    Town.order(:name), :id, :name, { prompt: "Enter Your Town" } %>
  <%= form.collection_select :charity_id, 
    Charity.all, :id, :name, { prompt: "or Enter Your Favorite Charity" } %>
  <%= form.submit "Enter Town to find a charity" %>
<% end %>

<%= render availabilities %>
