<!DOCTYPE html>
<html>
<head>
  <title>DonationProcessor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgQjzrivNHEstyX2i6iCMAiIrazQJZ1I4"></script>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div id="container">
    <header class="navigation">
      <div class="navigation-wrapper">
        <a href="javascript:void(0)" class="logo">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
        </a>
        <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <div class="nav">
          <ul id="navigation-menu">
            <% if signed_in? && current_user.admin? %>
              <li class="nav-link"><%= link_to "Dashboard", admin_root_path %></li>
              <li class="nav-link">
                <%= link_to "Profile",
                  admin_charity_availabilities_path(current_user.charity_id) %>
              </li>
              <li class="nav-link">
                <%= link_to "Contact Support",
                  admin_charity_availabilities_path(current_user.charity_id) %>
              </li>
              <li class="nav-link">
                Admin: <%= Charity.find(current_user.charity_id).name %>
              </li>
            <% else %>
              <li class="nav-link"><%= link_to "Donate Today",
                availabilities_path %></li>
              <li class="nav-link"><%= link_to "About Our Organization",
                availabilities_path %></li>
            <% end %>
          </ul>
        </div>
        <% if ! signed_in? %>
          <div class="navigation-tools">
            <%= link_to "Sign In", new_session_path, class: "sign-in" %>
            <%= link_to "Sign Up", new_user_path, class: "sign-up" %>
          </div>
        <% else %>
          <%= link_to "Sign out", session_path,
            method: :delete, class: "sign-out" %>
        <% end %>
      </div>
    </header>
    <% if signed_in? && current_user.admin? %>
      <div id="dash-container">
         <div id="dash-side-navigation-container">
           <div class="side-bar-nav" role="banner">
             <h1 class="logo">
               <a href="#">donation<span>station</span></a>
             </h1>
             <div class="nav-wrap">
               <div class="side-nav" role="navigation">
                 <ul class="unstyled list-hover-slide">
                   <li><%= link_to "Create New Route",
                       admin_charity_path(current_user.charity_id,
                                         route: true) %>
                   </li>
                   <li><%= link_to "Scheduled Routes", 
                     admin_charity_path(current_user.charity_id, 
                                        schedule: true) %>
                   </li>
 
                   <li><%= link_to "Current Towns",
                     admin_charity_path(current_user.charity_id, 
                                        current_towns: true) %>
                   </li>
 
                   <li><%= link_to "Reports & Stats",
                     admin_charity_path(current_user.charity_id,
                                       reportstats: true) %>
                   </li>
                 </ul>
               </div>
             </div>
           </div>
         </div>
        <div id="main-container">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </div>
</body>
</html>
